{% extends "layout.html" %}
{% block title %}DreamTeam Check-in — Administration{% endblock %}
{% import 'navbar-admin.html' as navbar %}
{% block body %}
  <div class="container">
    {{ navbar.top('Volunteers', url_for('index'), user) }}    
    <div class="well opaque">
      
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="pull-right">
                <span class="glyphicon glyphicon-edit"></span>
                <a href="#">Edit Activities</a>
              </span>
              <h3 class="panel-title">Activities</h3>
            </div>
            <div class="panel-body">
              <ul class="col col-2">
                {% for activity in activities -%}
                  <li><a href="activity/{{ activity.id }}">{{ activity.name }}</a></li>
                {%- endfor %}
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              
              <h3 class="panel-title">Actions</h3>
            </div>
            <div class="panel-body">
              <a href="{{ url_for('timeclock') }}" class="btn btn-success btn-block">Open Timeclock</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
