{% extends "layout.html" %}
{% block title %}DreamTeam Check-in — Administration{% endblock %}
{% import 'navbar-admin.html' as navbar %}
{% block body %}
  <div class="container">
    {{ navbar.top('Volunteers', url_for('index'), user) }}    
    <div class="well opaque">
      
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Activities</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
