{% extends "layout.html" %}
{% import 'timeout.html' as timeout %}
{% block title %}Select Activity{% endblock %}
{% block body %}

  <!-- Modal -->
  <div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" 
       aria-labelledby="timeoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="timeoutModalLabel">Are you still there?</h4>
        </div>
        <div class="modal-body">
          It looks like you've been stuck here for quite some time.
          Press 'Continue' to keep your session open.  Otherwise I'll go back
          to the search screen in <strong><span id="timer_value"></span></strong> seconds.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onClick="reset_interval();"
            data-dismiss="modal">Continue</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="container">   
    <div class="well opaque">
      
      <div class="row">
        <div class="col-md-3">
            <a href="#" onClick="history.back();"
               class="btn btn-lg btn-primary btn-block">Go Back <span class="glyphicon glyphicon-arrow-left"></span></a>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <a href="/timeclock" class="btn btn-lg btn-block btn-danger">Start Over <span class="glyphicon glyphicon-refresh"></span></a>
        </div>
      </div>
      
      <div class="container">
        <h1 class="text-center">Custom Text Title</h1><br>
      </div>
      
      {% if error %}
      <div class="alert alert-danger text-center lead">
        <strong>Error: </strong> {{ error }}
      </div>
      {% endif %}
      
      <hr>
      
      <div id="note">
        <form role="form" action="/checkin-confirm" method="POST" name="activity">
          <input type="hidden" name="search" value="{{ search }}">
          <input type="hidden" name="id" value="{{ id }}">
          {% for activity in activities %}
            <input type="hidden" name="activity" value="{{ activity }}">
          {% endfor %}
          {% for service in services %}
            <input type="hidden" name="service" value="{{ service }}">
          {% endfor %}
          
          <div class="row">
            <div class="input-large col-md-offset-3 col-md-6">
              <textarea id="message" name="message" class="textarea-large" 
               rows="4" autofocus onKeyDown="reset_interval()"></textarea>
            </div>
          </div>
        
          <hr>
        
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Continue <span class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
        </div>
        
      </form>
    </div>
    </div>
  </div>
  
 {{ timeout.timeout() }}
{% endblock %}
