{% extends "layout.html" %}
{% block title %}Select Activity{% endblock %}
{% block body %}

  <!-- Modal -->
  <div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" 
       aria-labelledby="timeoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="timeoutModalLabel">Are you still there?</h4>
        </div>
        <div class="modal-body">
          It looks like you've been stuck here for quite some time.
          Press 'Continue' to keep your session open.  Otherwise I'll go back
          to the search screen in <strong><span id="timer_value"></span></strong> seconds.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onClick="reset_interval();"
            data-dismiss="modal">Continue</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="container">   
    <div class="well opaque">
      
      <div class="row">
        <div class="col-md-3">
            <a href="/timeclock-search?search={{ search }}"
               class="btn btn-lg btn-primary btn-block">Go Back <span class="glyphicon glyphicon-arrow-left"></span></a>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <a href="/timeclock" class="btn btn-lg btn-block btn-danger">Start Over <span class="glyphicon glyphicon-refresh"></span></a>
        </div>
      </div>
      
      <div class="container">
        <h2 class="text-center">Select Activity</h2><br>
      </div>
      
      {% if error %}
      <div class="alert alert-danger text-center lead">
        <strong>Error: </strong> {{ error }}
      </div>
      {% endif %}
      
      <hr>
      
      <div id="services">
        <form role="form" action="/select-services" method="GET" name="activity">
          <input type="hidden" name="search" value="{{ search }}">
          <input type="hidden" name="id" value="{{ id }}">
    
          {% for activity in activities %}
          {% autoescape false %}
          {{ loop.cycle('<div class="row">', '') }}
            {{ loop.cycle('<div class="col-md-5 col-md-offset-1">', '<div class="col-md-5">') }}
          {% endautoescape %}
              <label class="btn btn-default btn-block btn-lg" for="activity{{ activity.id }}">
                <input name="activity" id="activity{{ activity.id }}" 
                  type="checkbox" value="{{ activity.id }}"> <strong>{{ activity.name }}</strong>
              </label>
            </div>
          {% autoescape false %}
          {{ loop.cycle('', '</div><br>') }}
          {% endautoescape %}
          {% else %}
          <div class="alert alert-warning text-center lead">
            <strong>Oops! </strong> There doesn't seem to be any activities here.
          </div>
          {% endfor %}

        </div>
        
        <hr>
        
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Continue <span class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
        </div>
        
      </form>
    </div>
    </div>
  </div>
  
  <script>
    //set timeout redirect:
    var timeout = 30; // 30 second until redirect
    var timeout_warning = 10; // show warning at 10 seconds
    
    function timeout_tick() {
      timeout--;
      console.log(timeout);
      document.getElementById("timer_value").innerHTML = timeout;
      
      if (timeout == timeout_warning) {
        //show the warning modal:
        $('#timeoutModal').modal('show');
      }
      
      if (timeout == 0) {
        // Why do I have to specify this /again/?
        window.location.replace("/timeclock");
      }      
    }
    
    function reset_interval() {
      window.clearInterval(timer)
      timeout = 30;
      timer = window.setInterval("timeout_tick();", 1000);
    }
    
    $(document).ready(function() {
      //FIXME: Set initial values
  
      $("input:checkbox").change(function() {
        if ($(this).is(":checked")) {
          $(this).parent().attr("class", "btn btn-success btn-block btn-lg");
        } else {
          $(this).parent().attr("class", "btn btn-default btn-block btn-lg");
        }      
      });
      
    });
    
    if (!jQuery.browser.mobile) {
      /* mobile browsers don't handle modals very well, so we'll just
         silently ignore the timeout function */
      var timer = window.setInterval("timeout_tick();", 1000);
    }
  </script>
{% endblock %}
