{% extends "layout.html" %}
{% import 'timeout.html' as timeout %}
{% block title %}Select Activity{% endblock %}
{% block body %}

  <div class="container">   
    <div class="well opaque">
      
      <div class="row">
        <div class="col-md-3">
            <a href="{{ url_for('timeclockSearch') }}?search={{ search }}"
               class="btn btn-lg btn-primary btn-block">Go Back <span class="glyphicon glyphicon-arrow-left"></span></a>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <a href="{{ url_for('timeclock') }}" class="btn btn-lg btn-block btn-danger">Start Over <span class="glyphicon glyphicon-refresh"></span></a>
        </div>
      </div>
      
      <div class="container">
        <h1 class="text-center">{{ title }}</h1><br>
      </div>
      
      {% with errors = get_flashed_messages(category_filter=["error"]) -%}
        {% if errors %}
          {%- for msg in errors %}
            <div class="alert alert-danger text-center lead">
              <strong>Error: </strong> {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {%- endwith %}
      
      <hr>
      
      <div id="services">
        <form role="form" action="{{ url_for('selectServices') }}" method="GET" name="activity">
          <input type="hidden" name="search" value="{{ search }}">
          <input type="hidden" name="id" value="{{ id }}">
    
          {% for activity in activities -%}
          {% autoescape false %}
          {{ loop.cycle('<div class="row">', '') }}
            {{ loop.cycle('<div class="col-md-5 col-md-offset-1">', '<div class="col-md-5">') }}
          {% endautoescape %}
              <label class="btn btn-default btn-block btn-lg" for="toggle{{ activity.id }}">
                <input name="activity" id="toggle{{ activity.id }}" 
                  type="{{ "checkbox" if allow_multiple else "radio" }}" value="{{ activity.id }}"> <strong>{{ activity.name }}</strong>
                  <label class="sr-only" for="toggle{{ activity.id }}">{{ activity.name }}</label>
              </label>
            </div>
          {% autoescape false %}
          {{ loop.cycle('', '</div><br>') }}
          {% endautoescape %}
          {% else %}
          <div class="alert alert-warning text-center lead">
            <strong>Oops! </strong> There doesn't seem to be any activities here.
          </div>
          {%- endfor %}

        </div>
        
        <hr>
        
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Continue <span class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
        </div>
        
      </form>
    </div>
    </div>
  </div>
  
  {{ timeout.timeout(kiosk.timeout, kiosk.timeout_warning, title=kiosk.timeout_title, message=kiosk.timeout_message) }} 
{% endblock %}
